<h6>dashboard</h6>
<h5>{{firstName}}</h5>
<h3>diasm stories</h3>
{{#if stories}}
  <table class="striped">
    <thead>
      <tr>
        <td>제목</td>
        <td>작성자</td>
        <td>작성일</td>
        <td>조회수</td>
      </tr>
    </thead>
    <tbody>
      {{#each stories}}
      <tr>
            <td><a href="/stories/{{_id}}">{{title}}</a></td>
            <td>{{formatDate createdAt 'MMMM Do YYYY, h:mm:ss a'}}</td>
            <td><span class="dash-status">{{status}}</span></td>
            <td>
                <a href="/stories/edit/{{_id}}" class="btn btn-float">
                    <i class="fas fa-edit"></i>
                </a>

                <form action="/stories/{{_id}}" method="POST" id="delete-form">
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit" class="btn red">
                        <i class="fas fa-trash"></i>
                    </button>
                </form>
            </td>
      {{/each}}
    </tbody>

  </table>

{{else}}
  <p>You have not created any Stories</p>
{{/if}}